.cards{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width:310px;
    height:200px;
    padding: 0;
    border-radius: 5px;
    margin-right:10px;
   
    .imagenCards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        
        img{
            width: 105px;
            height: 105px;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
    .dataCards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 5px;

        h6{
            width:90%;
            border-bottom: 1px solid black;
        }
        .buttonLeermas{
            display: flex;
            flex-direction: column;
            border: none;
            margin-left: 70px;
            color: black;
            font-family: 'Open Sans';
            font-size: 11pt;
        
            span{
                width: 0%;
                height: 2px;
                background:rebeccapurple;
                transition: all .8s;
            }
            
        }
    }
    
}

.fontBodyCard{
    font-family: 'Open Sans';
    font-size: 11pt;
    color: black;
}

.modal-content{
    display: flex;
    flex-direction:column;
    width: 700px;
    .modal-col-one{
        display: inline-flex;
        width: 100%;
        padding-top: 10px;
        .modal-col-one-img{
            display: inline-flex;
            width: 40%;
            justify-content: center;
            img{
                width: 130px;
                border-radius: 100%;
            }
        }
        .modal-col-one-name{
            display: inline-flex;
            width: auto;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 5px;
        }
        .modal-col-one-networks{
            display: flex;
           
            width: 100%;
            .modal-col-one-networks-item{
                width:25px;
                margin-right: 10px;
                img{
                    width: 25px;
                }
            }
        }
        
    }
    .modal-col-tow{
        text-align: justify;
    }
}