.logoCover{
    width: 20%;
}
section{
    margin-top: 45px;
    height: 60vh;
}
picture img{
    width: 360px;
}
.mbottom{
    margin-bottom:60px;
}

.infoHome{
    padding: 5px 15px;
    text-align: justify;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 115px;
    transition: height 1s;
}
.titleHome{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 23pt;
}
