.contenedor{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 220px;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:rgb(82,178,137);
}
.titleNosotros{
    font-size:75px;
    line-height: .7;
    font-family: 'Open Sans';
    color: black;
}

.titleObjetivos{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 22px;
}

.titleObjetivo{
    font-family: 'Open Sans';
    font-size:25px;
    font-weight: 600;
}
.containerObjets{
    height: 585px;
}


@media (max-width: 1200px) {
    .containerObjets{
        height: 650px;
        background: rebeccapurple;
    }
}
@media (max-width: 991px) {
    .containerObjets{
        height: 900px;
        background: rebeccapurple;
    }
}
