.contenedor{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.circle{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background:rgb(82,178,137);
}
.titleNosotros{
    font-size:75px;
    line-height: .7;
    font-family: 'Open Sans';
    color: black;
}

.titleObjetivos{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 22px;
}

.titleObjetivo{
    font-family: 'Open Sans';
    font-size:25px;
    font-weight: 600;
}

.Object{
    display: inline-flex;
    flex-wrap: wrap;
}

.object{
    width: 30%;
    margin-right: 10px;
}
@media (max-width: 1200px) {
    .containerObjets{
        height: 650px;
    }
}

@media (max-width: 991px) {
    .containerObjets{
        height: 900px;
    }
    .object{
        height: auto;
        width: 45%;
    }
}
@media (max-width: 844px) {
    .titleNosotros{
        font-size:60px;
        line-height: .8;
    }
}
@media (max-width: 695px) {
    .titleNosotros{
        font-size:50px;
        line-height: .8;
    }
}
@media (max-width: 600px) {
    .titleNosotros{
        font-size:45px;
        line-height: .8;
    }
}
@media (max-width: 570px) {
    .contenedor{
      width: 103vw;
      
    }
}